:root {
    --page-width: calc(100vw);
    --content-width: calc(var(--page-width) - 16px);
    --scrollbar-width: 16px;
    --page-bg: #a082ff;
    --setup-bg: #d7c8ff;
    --setup-text: #0a001e;
}

html {
    overflow-y: scroll;
    height: 100vh;
}
body {
    background-color: var(--page-bg);
    /* position: fixed; */
}

.setup-form {
    display: flex;
    margin: auto;
    width: calc(var(--content-width) - var(--scrollbar-width));
    align-items: center;
    line-height: 40px;

    .select-container, .size-container {
        --padding: 20px;
        display: inline-flex;
        height: 30px;
        width: calc(((var(--content-width) / 2) - 10px) - (var(--padding) * 2));
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--setup-bg);
        border-radius: 10px;
        padding: var(--padding);
        input, label {
            text-align: center;
        }
    }
    .size-container {
        input, label, p {
            margin: 0;
            display: inline-block;
        }
        label {
            margin-right: 5px;
        }
        input {
            width: 5em;
        }
    }

    .setup-submit {
        display: flex;
        height: 40px;
        background-color: var(--setup-bg);
        border-radius: 10px;
        padding: 2px;
        align-items: center;
    }
    .matrix-type-submit {
        display: flex;
        margin: auto;
    }

    input, label, p {
        color: var(--setup-text);
    }
}

@media (max-width: 1300px) {
    .setup-form-info {
        display: flex !important;
        flex-direction: row;
    }
    .size-container {
        margin-left: 5px;
        line-height: 20px !important;
        label {
            display: block !important;
            margin-left: 16px !important;
            margin-bottom: 5px !important;
        }
    }
}
@media (max-width: 950px) {
    .setup-form-info {
        flex-direction: column !important;
    }
    .size-container {
        margin-left: 0 !important;
    }
    .select-container, .size-container {
        display: flex !important;
        margin: auto;
        width: calc((var(--content-width) - var(--scrollbar-width)) - (var(--padding) * 2)) !important;
    }
}
@media (max-width: 600px) {
    .select-container {
        line-height: 20px;
        text-align: center;
    }
    .size-container {
        input {
            width: 3em !important;
        }
    }
}